{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<div class="row">
    <div class="col-lg-12">
        
        <div class="box-element">
            <div class="cart-summary">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
                <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                <h5>Total: <strong>Rs{{order.get_cart_total}}</strong></h5>
                <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
            </div>
        </div>

        
        <div class="cart-container">
            <div class="cart-items-container">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th class="product-col">Product</th>
                            <th class="price-col">Price</th>
                            <th class="qty-col">Quantity</th>
                            <th class="total-col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if items %}
                            {% for item in items %}
                            <tr class="cart-row">
                                <td class="product-col">
                                    <div class="product-content">
                                        <img class="row-image" src="{{item.product.imageURL}}" alt="{{item.product.name}}">
                                        <span class="product-name">{{item.product.name}}</span>
                                    </div>
                                </td>
                                <td class="price-col">
                                    <span class="price">Rs{{item.product.price}}/kg</span>
                                </td>
                                <td class="qty-col">
                                    <div class="quantity-controls">
                                        <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static 'css/images/arrowup.png'%}" alt="Increase" title="Increase quantity">
                                        <span class="quantity-display">{{item.quantity}}kg</span>
                                        <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static 'css/images/arrowdown.png'%}" alt="Decrease" title="Decrease quantity">
                                    </div>
                                </td>
                                <td class="total-col">
                                    <span class="total-price">Rs{{item.get_total}}</span>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="4"><div class="empty-cart">Your cart is empty. <a href="{% url 'store' %}">Start shopping!</a></div></td></tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}